<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List xe api</title>
</head>
<body>
<h1>Le Dai Phat 21032441</h1>
<a href="/xe/listXe">Danh sach xe</a>
<a href="/loaixe/listLoaiXe">Danh sach loai xe</a>
<a href="/xe/addXe">Them xe</a>
<a href="/logout">Logout</a><br>
<a href="/xe/list-api">Danh sach xe api</a>
<a href="/xe/add-api">Them xe api</a>
<h2>Danh sach xe lay bang api</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Năm sx</th>
        <th>Loại</th>
        <th sec:authorize="hasRole('ADMIN')">Mã xe</th>
        <th sec:authorize="hasRole('ADMIN')">Ngày chỉnh sửa</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">Trạng thái</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">Chỉnh sửa</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">Xóa</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

</body>
<script>
    const tbody = document.querySelector('tbody');
    fetch('/api/v1/xe/listXe')
        .then(res => res.json())
        .then(data => {
            data.forEach(item => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                        <td>${item.id}</td>
                        <td>${item.tenXe}</td>
                        <td>${item.gia}</td>
                        <td>${item.namSx}</td>
                        <td>${item.maLoai.tenLoai}</td>
                        <td sec:authorize="hasRole('ADMIN')">${item.maXe}</td>
                        <td sec:authorize="hasRole('ADMIN')">${item.ngayChinhSua}</td>
                        <td sec:authorize="hasRole('ADMIN')">${item.trangThai}</td>
                        <td><a href="/xe/edit-api/${item.id}" sec:authorize="hasRole('ROLE_ADMIN')">Chỉnh sửa</a></td>
                        <td>
                        <form action="/api/v1/xe/deleteApi/${item.id}" method="get" style="display:inline;">

                              <button type="submit">Delete</button>
                        </form>
                        </td>
                        `;
                tbody.appendChild(tr);
            })
        });

</script>
</html>